//-------------------------------------------------------------------------------------
//- Base jade file that each page extends
//- Any alterations to this file will result in global alterations to each page
//-------------------------------------------------------------------------------------

doctype 5

head
	include core/css

body
	block content
	include core/js