//---------------------------------------------------------------------------
//- Home Page
//---------------------------------------------------------------------------
extends ../base

block setup
	- page = 'index';
	- jsClass = "Home";

block content
	p hello world 2