doctype html
head
	title Image Sequence
	link(rel="stylesheet", href="css/main.css", type="text/css")
	link(href='http://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')

body
	h1 scroll!
	.frames
		- var url = "http://dev.thesecretlocation.com/OPEN/videoShareFrame/_s3/img/vision/"
		- for (var i=300; i>=50; i--) {
			.frame.show(style="background-image: url("+url+i+".jpg)")
		- }

	script(src="http://code.jquery.com/jquery-2.1.0.min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js")
	script(src="js/script.js")